<div class="event-info">
<div class="container-fluid">
<div class="row">
<div class="col-sm-12">
  <h3 class="block-title text-center">Realizar reserva</h3>
  <hr>
</div>
</div>
<div class="row">
<div class="col-sm-5">
  <form class="reservation-form" id="rForm" action="makeReservation">
  {% csrf_token %}
  <div class="form-group">
    <label for="espacioId">Sala:</label><br>
    <select name="espacio" id="espacioId">
    {% for space in spaces %}
       <option value="{{ space.id }}">{{ space.name }}</option>
    {% endfor %}
    </select><br><br>
    <label for="fechaInput">Dia:</label><br>
    <input type="date" name="fechaReserva" id="fechaInput" value="{{dia}}"><br><br>
    <label for="fechaInput">Hora Inicio:</label><br>
    <input type="time" name="horaInicio" id="horaIn" value="{{h_ini}}"><br>
    <label for="fechaInput">Hora Termino:</label><br>
    <input type="time" name="horaTermino" id="horaFin" value="{{h_fin}}"><br><br>
    <input type="submit" id="rFormBtn" class="btn btn-primary" value="Submit"><br>
    </div>
  </form>
</div>
<div class="col-sm-7">
<p class="text-justify">Para realizar una reserva debes llenar el formulario y esperar la confirmacion por correo electronico del CEI.</p>
<br>
<h6 class="font-weight-bold">Reglas generales:</h6>
<ul>
  <li>  1. Reserva del Quincho con por lo menos una hora de anticipacion</li>
  <li>  2. Bla bla bla</li>
  <li>  3. Otra regla mas</li>
</ul>
</div>
</div>
</div>
</div>

